<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quping.dao.mapper.RatingMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rating (id, image_url, score, title, `text`, `count`, `create_by`)
                    VALUES (null,#{imageUrl},#{score},#{title},#{text},#{count},#{createBy});
    </insert>
    <update id="update">
        UPDATE rating
        <set>
            <if test="imageUrl!=null">image_url = #{imageUrl},</if>
            <if test="score!=null">score = #{score},</if>
            <if test="title!=null">title = #{title},</if>
            <if test="text!=null">`text` = #{text},</if>
            <if test="count!=null">`count` = #{count},</if>
        </set>
        WHERE id = #{id};
    </update>
    <select id="getById" resultType="com.quping.entry.Rating">
        SELECT id,image_url,score,title,`text`,`count`
        FROM rating
        WHERE id = #{id};
    </select>
    <select id="getByEntry" resultType="com.quping.entry.Rating">
        SELECT id,image_url,score,title,`text`,`count`
        FROM rating
        <where>
            <if test="id!=null">id = #{id}</if>
            <if test="imageUrl!=null">image_url = #{imageUrl},</if>
            <if test="score!=null">score = #{score},</if>
            <if test="title!=null">title = #{title},</if>
            <if test="text!=null">`text` = #{text},</if>
            <if test="count!=null">`count` = #{count},</if>
        </where>
    </select>
</mapper>